<ion-view view-title="Tesoreria">
  <ion-content ng-controller="TesoreriaCtrl">
    <div class="list">
      <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-home placeholder-icon"></i> Institución:
              <select ng-options="item.EmpresaId as item.EmpresaNombre for item in empresas" ng-model="empresa" ng-change="changeEmpresa()">
                  <option value="">Seleccione...</option>
              </select>
            </label>
      </div>
      <button class="button button-block button-positive" ng-click="consultar()">
            Consultar
      </button>
    </div>

    <div class="item item-text-wrap">
      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="ColorBar">
      </canvas>
    </div>

    <font size="0.5">
    <div style="overflow-x:auto;">
    <table st-table="rowCollection" class="table table-striped">
      <thead>
      <tr>
        <th>Proveedor</th>
        <th>Importe</th>
        <th># Facturas</th>
        <th>Importe Mínimo</th>
        <th>Importe Máximo</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in rowCollection">
        <td>{{row.nombre}}</td>
        <td>{{row.Importe | currency}}</td>
        <td>{{row.TotalFacturas}}</td>
        <td>{{row.ImporteMinimo | currency}}</td>
        <td>{{row.ImporteMaximo | currency}}</td>

      </tr>
      </tbody>
    </table>
  </div>
    </font>


  </ion-content>
</ion-view>
